.border {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: calc(3vh + 73px) 3vw;
    background-color: black;
    background: rgba(30,30,30,30);
    opacity: 0.9;
    padding: 10px 10px;
}

h2 {
    align-self: flex-start;
}

.weather-details {
    display: flex;
    position: relative;
}

.desc {
    display: flex;
    margin-left: 2vw;
}

.desc p {
    padding: 0 2px;
}
