
.content-box{
    max-width: 2000px;
    margin: auto;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 60px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    background: black;
    background-size: stretch;
    color: white;
    width: 100%;
    min-height: 100vh;
}

.title{
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 60vh;
    opacity: 0;
}

.sub-text{
    font-size: 50px;
    text-align: center;
    padding: 50px;
    position: relative;
    top: 70vh;
    left: 25vw;
    opacity: 0;
}

.dropdown{
    padding: 50px;
}

.dropdown-box{
    max-height: 60px;
    padding: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.go-button{
    background-color: #12e1e1;
    border-radius: 5px;
    border: #12e1e1;
    color: white;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.logo{
    background-image: url('spacenet-logo.png');
    width: 150px;
    height: 150px;
    background-size: cover;
    z-index: 10;

}

.layer1 img{
    max-height: 100px;
    position: relative;
    top: 50vh;
    left: 35vw;
    opacity: 0;
}

.layer2 img{
    max-height: 100px;
    position: relative;
    top: 60vh;
    left: 90vw;
    opacity: 0;
}

.layer3 img{
    max-height: 200px;
    position: relative;
    top: 10vh;
    left: 23vw;
    opacity: 0;
}

.layer4 img{
    max-height: 150px;
    position: relative;
    top: 12vh;
    left: 75vw;
    opacity: 0;

}

.background {
    background-image: url(stars.jpg);
    background-size: cover;
    min-height: 100vh;
}

.scene {
    position: relative;
}

.page-choice {
    display: flex;
    align-items: center;
    position: relative;
    top: 60vh;
    left: 40vw;
    opacity: 0;
}