.wrapper {
  display: flex;
  justify-content: space-between;
  margin: calc(3vh + 73px) 3vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 43vw;
}

.test {
  padding: 1vh 1vw;
  background-color: black;
  opacity: 0.7;
}

.picture img {
  max-width: 43vw;
  padding: 10px 10px;
  background: rgba(30,30,30,30);
  opacity: 0.9;
}


