.wrapper {
  display: flex;
  justify-content: space-between;
  margin: calc(3vh + 73px) 3vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 43vw;
}

.test {
  border: 2px solid black;
  padding: 1vh 1vw;
}

.picture img {
  max-width: 43vw;
}

