@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Orbitron|Tomorrow|Ubuntu+Mono&display=swap');


.wrapper {
  margin: calc(3vh + 73px) 3vw;
}

/* .page-contents{
display:

} */

.text-box{
  display: grid;
  grid-template-columns: 300px 1fr;

  /* padding: 100px; */
}

.details-box{
  margin-top: 20px;
  padding:50px;
}

.dates-box{
  padding:10px;
}

.outer-box{
   width: 80vw;
   background: rgba(30,30,30,30);
   opacity: 0.9;
   padding: 50px
}

a {
  text-decoration: none;
  color: white;
}

.toggle-show{
  color:white !important;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  border: 5px solid white;
  border-radius: 10px;
  padding: 10px;
}

