@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Orbitron|Tomorrow|Ubuntu+Mono&display=swap');


.map-wrapper {
    z-index: -1;
}

.legend{
    z-index: 10;
    position: fixed;
    min-width: 400px;
    max-width: 600px;;
    min-height: 300px;
    background: rgba(0.7,0.7,0.7,0.5);
    top: 180px;
    left: 100px;
    /* font-family: 'Tomorrow', sans-serif; */
    padding: 50px;
}

.header{
    font-family: 'Orbiton',sans-serif;
}



.eonet-colours{
    color:black;
}

*{
    color: black
}