.wrapper {
    display: flex;
    flex-direction: column;
    margin: calc(3vh + 73px) 1vw;
    position: relative;
}

.info {
    background-image: url('marsicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    position: relative;
    left: 5vw;
    top: 2vh;
}

.weather {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30vh ;
}

.layer1 img{
    max-height: 200px;
    position: relative;
    top: 10vh;
    left: 15vw;
}

.layer2 img{
    max-height: 100px;
    position: relative;
    top: 10vh;
    left: 24vw;
}

.layer3 img{
    max-height: 100px;
    position: relative;
    top: 8vh;
    left: 12vw;
}
