.wrapper {
    background-image: url('crater.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin: calc(3vh + 73px) 3vw;
}