.wrapper {
    display: flex;
    flex-direction: column;
    margin: calc(3vh + 73px) 1vw;
    position: relative;
}

.info {
    background-image: url('marsicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
    position: relative;
    left: 5vw;
    top: 2vh;
}

.weather {
    display: flex;
    justify-content: flex-start;
    margin-top: 30vh ;
    flex-wrap: wrap;
    margin-top: -40px;
}

.layer1 img{
    max-height: 200px;
    position: relative;
    top: 10vh;
    left: 15vw;
}

.layer2 img{
    max-height: 100px;
    position: relative;
    top: 10vh;
    left: 24vw;
}

.layer3 img{
    max-height: 100px;
    position: relative;
    top: 8vh;
    left: 12vw;
}

h6{
    color: white;
}

.header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-content: center;
}

.title{
    font-size: 80px;
    margin-top: 80px;
    margin-left: 150px;
    position: relative;
}